[includeIf "gitdir:~/personal/"]  
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/work/"]  
  path = ~/.gitconfig-labdigital

[init]
  defaultBranch = main

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false 

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[user]
	name = tlolkema
	email = tim@detesters.nl
